p {margin-left:20px; width:640px} 
.p { float: right; width:200px;
     margin:5px; border-style:groove; border-color:blue}
pre {margin-left:20px}
li {width:640px}
h3 {margin-left:20px}
h4 {margin-left:20px}
.note { width:640px}